.alive {
    background-color: #787771;
    width: 40px;
    height:40px;
    margin: 3px
}

.dead {
    background-color: #f8f8f2;
    width: 40px;
    height:40px;
    margin: 3px
}

.headerCell {
    width: 40px;
    height:40px;
    margin: 3px
}

.lineCell {
    width: 40px;
    height:40px;
    margin: 3px
}

.Board {
    text-align: center;
    float: inherit;
}

.Board-Column {
    padding-top: 5px;
}